<header>
  <% if (locals.user) { %>
  <nav class="navbar navbar-dark bg-info">
    <div class="container-fluid" style="font-family: 'Roboto'">
      <a class="navbar-brand" href="/">Placement Team</a>
      <a class="navbar-brand" href="/">Hi <%=locals.user.name%></a>
      <form class="d-flex px-4">
        <a class="navbar-brand p-2" href="/company/home">Company List</a>
        <a class="navbar-brand p-2" href="/users/download-csv">Download CSV</a>
        <a
          class="navbar-brand p-2"
          href="/users/signout"
          style="background-color: crimson; border-radius: 5px"
          >Sign out</a
        >
      </form>
    </div>
  </nav>
  <% } %>
</header>
